xml00/alumno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre"></xs:element>
                <xs:element name="nacimiento"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>